body{
  /*background-color: green;*/
  background: linear-gradient(white,#32CD32);
}
.container{
    background-color:  #F8FAF0;
    height: 100%;
    width: 970px;
}
h1{
  text-align: center;
}
.page-header{
  height: 75px;
  width: 940px;
  margin-right: 10px;
  margin-top: 10px;
}

#mountain{
  height: 200px;
  width:940px;
  margin-top: 20px;
}
div.jumbotron{
  height: 380px;
  width: 940px;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color:  #F8FAF0;
}

.carousel-indicators {
  bottom:-50px;
}

#mycarousel{
  height:380px;
  width: 940px;
}

.list-group-news{
  display:inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  width:800px;
}
ol.breadcrumb.text-center{
  background-color: #F8FAF0;
}

.breadcrumb a{
  color: #666;
}


h2{
  margin-left: 50px;
  width: 380px;
  display:inline-block;
}

.container-bottom{
  width: 940px;
  height:250px;

}
